/*
    Jumpeye framework    
	Version: 1.0.0
	www.jumpeye.com
	
	Created by Jumpeye Components
 
 
    Button style-10
*/

	/* sizes -------- */
	.style-10.small.button { 
	    font-size  : 11px; 
        padding    : 0 23px 1px; 
        width      : auto; 
        height     : 29px; 
        line-height: 28px; 
     }
     
	.style-10.button, 
    .style-10.medium.button { 
        font-size  : 12px; 
        padding    : 0 27px 1px; 
        width      : auto; 
        height     : 32px; 
        line-height: 31px; 
    }  
        
	.style-10.large.button { 
	    font-size  : 18px; 
        padding    : 0 43px 1px; 
        width      : auto; 
        height     : 42px; 
        line-height: 41px; 
     }
     
     
    /* Corners ---------- */          
    .style-10.button.button { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
    
    
    /* style-10 yellow */
    .style-10.button.yellow {
        background        : #ffd338;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDMzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjljMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #ffd338 0%, #ff9c01 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd338), color-stop(100%,#ff9c01));
        background        : -webkit-linear-gradient(top,  #ffd338 0%,#ff9c01 100%);
        background        : -o-linear-gradient(top,  #ffd338 0%,#ff9c01 100%);
        background        : -ms-linear-gradient(top,  #ffd338 0%,#ff9c01 100%);
        background        : linear-gradient(top,  #ffd338 0%,#ff9c01 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd338', endColorstr='#ff9c01',GradientType=0 );
        box-shadow        : 1px 0 0 0 #ffc94f inset, 0 1px 0 0 #ffebbe inset, -1px 0 0 0 #ffc94f inset, 0 -1px 0 0 #ffc136 inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #ffc94f inset, 0 1px 0 0 #ffebbe inset, -1px 0 0 0 #ffc94f inset, 0 -1px 0 0 #ffc136 inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #ffc94f inset, 0 1px 0 0 #ffebbe inset, -1px 0 0 0 #ffc94f inset, 0 -1px 0 0 #ffc136 inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #7b540b;
        text-shadow       : 0 1px 0 rgba(255, 255, 255, 0.39);
    }
               
    .style-10.button.yellow:hover{
        background        : #ffd370;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDM3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmM4NGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #ffd370 0%, #ffc84d 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd370), color-stop(100%,#ffc84d));
        background        : -webkit-linear-gradient(top,  #ffd370 0%,#ffc84d 100%);
        background        : -o-linear-gradient(top,  #ffd370 0%,#ffc84d 100%);
        background        : -ms-linear-gradient(top,  #ffd370 0%,#ffc84d 100%);
        background        : linear-gradient(top,  #ffd370 0%,#ffc84d 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd370', endColorstr='#ffc84d',GradientType=0 );
        box-shadow        : 1px 0 0 0 #ffd373 inset, 0 1px 0 0 #ffefcc inset, -1px 0 0 0 #ffd373 inset, 0 -1px 0 0 #ffcd5f inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #ffd373 inset, 0 1px 0 0 #ffefcc inset, -1px 0 0 0 #ffd373 inset, 0 -1px 0 0 #ffcd5f inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #ffd373 inset, 0 1px 0 0 #ffefcc inset, -1px 0 0 0 #ffd373 inset, 0 -1px 0 0 #ffcd5f inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #7b540b;
        text-shadow       : 0 1px 0 rgba(255, 255, 255, 0.39);

    }
    
    .style-10.button.yellow:active, .style-10.button.yellow.active {
        background        : #ffba1f;
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba1f', endColorstr='#ffba1f',GradientType=0 );
        box-shadow        : 1px 0 0 0 #ffc135 inset, 0 1px 0 0 #ffe6ae inset, -1px 0 0 0 #ffc135 inset, 0 -1px 0 0 #ffc135 inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #ffc135 inset, 0 1px 0 0 #ffe6ae inset, -1px 0 0 0 #ffc135 inset, 0 -1px 0 0 #ffc135 inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #ffc135 inset, 0 1px 0 0 #ffe6ae inset, -1px 0 0 0 #ffc135 inset, 0 -1px 0 0 #ffc135 inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #7b540b;
        text-shadow       : 0 1px 0 rgba(255, 255, 255, 0.39);
    } 
      
    /* style-10 blue */
    .style-10.button.blue {
        background        : #529df1;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUyOWRmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODg1ZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #529df1 0%, #2885ed 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#529df1), color-stop(100%,#2885ed));
        background        : -webkit-linear-gradient(top,  #529df1 0%,#2885ed 100%);
        background        : -o-linear-gradient(top,  #529df1 0%,#2885ed 100%);
        background        : -ms-linear-gradient(top,  #529df1 0%,#2885ed 100%);
        background        : linear-gradient(top,  #529df1 0%,#2885ed 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#529df1', endColorstr='#2885ed',GradientType=0 );
        box-shadow        : 1px 0 0 0 #509cf1 inset, 0 1px 0 0 #c1dcfa inset, -1px 0 0 0 #509cf1 inset, 0 -1px 0 0 #3d91ef inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #509cf1 inset, 0 1px 0 0 #c1dcfa inset, -1px 0 0 0 #509cf1 inset, 0 -1px 0 0 #3d91ef inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #509cf1 inset, 0 1px 0 0 #c1dcfa inset, -1px 0 0 0 #509cf1 inset, 0 -1px 0 0 #3d91ef inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.30);
    }
    
               
    .style-10.button.blue:hover {
        background        : #75b1f4;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1YjFmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MzlkZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #75b1f4 0%, #539df1 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75b1f4), color-stop(100%,#539df1));
        background        : -webkit-linear-gradient(top,  #75b1f4 0%,#539df1 100%);
        background        : -o-linear-gradient(top,  #75b1f4 0%,#539df1 100%);
        background        : -ms-linear-gradient(top,  #75b1f4 0%,#539df1 100%);
        background        : linear-gradient(top,  #75b1f4 0%,#539df1 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#75b1f4', endColorstr='#539df1',GradientType=0 );
        box-shadow        : 1px 0 0 0 #78b3f4 inset, 0 1px 0 0 #cde3fb inset, -1px 0 0 0 #78b3f4 inset, 0 -1px 0 0 #64a7f2 inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #78b3f4 inset, 0 1px 0 0 #cde3fb inset, -1px 0 0 0 #78b3f4 inset, 0 -1px 0 0 #64a7f2 inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #78b3f4 inset, 0 1px 0 0 #cde3fb inset, -1px 0 0 0 #78b3f4 inset, 0 -1px 0 0 #64a7f2 inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.30);
    }
    
    .style-10.button.blue:active, .style-10.button.blue.active {
        background        : #2785ed;
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#2785ed', endColorstr='#2785ed',GradientType=0 );
        box-shadow        : 1px 0 0 0 #67a9f2 inset, 0 1px 0 0 #C2DDFA inset, -1px 0 0 0 #67a9f2 inset, 0 -1px 0 0 #67a9f2 inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #67a9f2 inset, 0 1px 0 0 #C2DDFA inset, -1px 0 0 0 #67a9f2 inset, 0 -1px 0 0 #67a9f2 inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #67a9f2 inset, 0 1px 0 0 #C2DDFA inset, -1px 0 0 0 #67a9f2 inset, 0 -1px 0 0 #67a9f2 inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.30);
    } 
    
    /* style-10 green */
    .style-10.button.green {
        background        : #71b335;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxYjMzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZmEwMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #71b335 0%, #4fa003 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#71b335), color-stop(100%,#4fa003));
        background        : -webkit-linear-gradient(top,  #71b335 0%,#4fa003 100%);
        background        : -o-linear-gradient(top,  #71b335 0%,#4fa003 100%);
        background        : -ms-linear-gradient(top,  #71b335 0%,#4fa003 100%);
        background        : linear-gradient(top,  #71b335 0%,#4fa003 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#71b335', endColorstr='#4fa003',GradientType=0 );
        box-shadow        : 1px 0 0 0 #71b234 inset, 0 1px 0 0 #cce4b6 inset, -1px 0 0 0 #71b234 inset, 0 -1px 0 0 #60a91c inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #71b234 inset, 0 1px 0 0 #cce4b6 inset, -1px 0 0 0 #71b234 inset, 0 -1px 0 0 #60a91c inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #71b234 inset, 0 1px 0 0 #cce4b6 inset, -1px 0 0 0 #71b234 inset, 0 -1px 0 0 #60a91c inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.30);
    }
               
    .style-10.button.green:hover {
        background        : #8dc25d;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhkYzI1ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MmIzMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #8dc25d 0%, #72b336 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8dc25d), color-stop(100%,#72b336));
        background        : -webkit-linear-gradient(top,  #8dc25d 0%,#72b336 100%);
        background        : -o-linear-gradient(top,  #8dc25d 0%,#72b336 100%);
        background        : -ms-linear-gradient(top,  #8dc25d 0%,#72b336 100%);
        background        : linear-gradient(top,  #8dc25d 0%,#72b336 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#8dc25d', endColorstr='#72b336',GradientType=0 );
        box-shadow        : 1px 0 0 0 #8cc15c inset, 0 1px 0 0 #d6e9c5 inset, -1px 0 0 0 #8cc15c inset, 0 -1px 0 0 #80ba4a inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #8cc15c inset, 0 1px 0 0 #d6e9c5 inset, -1px 0 0 0 #8cc15c inset, 0 -1px 0 0 #80ba4a inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #8cc15c inset, 0 1px 0 0 #d6e9c5 inset, -1px 0 0 0 #8cc15c inset, 0 -1px 0 0 #80ba4a inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.30);
    }
    
    .style-10.button.green:active, .style-10.button.green.active {
        background        : #4ea002;
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ea002', endColorstr='#4ea002',GradientType=0 );
        box-shadow        : 1px 0 0 0 #5fa91b inset, 0 1px 0 0 #bfdda4 inset, -1px 0 0 0 #5fa91b inset, 0 -1px 0 0 #5fa91b inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #5fa91b inset, 0 1px 0 0 #bfdda4 inset, -1px 0 0 0 #5fa91b inset, 0 -1px 0 0 #5fa91b inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #5fa91b inset, 0 1px 0 0 #bfdda4 inset, -1px 0 0 0 #5fa91b inset, 0 -1px 0 0 #5fa91b inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.30);
    } 
    
    
    /* style-10 red */
    .style-10.button.red {
        background        : #e83333;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4MzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjAxMDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #e83333 0%, #e20101 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e83333), color-stop(100%,#e20101));
        background        : -webkit-linear-gradient(top,  #e83333 0%,#e20101 100%);
        background        : -o-linear-gradient(top,  #e83333 0%,#e20101 100%);
        background        : -ms-linear-gradient(top,  #e83333 0%,#e20101 100%);
        background        : linear-gradient(top,  #e83333 0%,#e20101 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83333', endColorstr='#e20101',GradientType=0 );
        box-shadow        : 1px 0 0 0 #e83232 inset, 0 1px 0 0 #f7b5b5 inset, -1px 0 0 0 #e83232 inset, 0 -1px 0 0 #e51a1a inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #e83232 inset, 0 1px 0 0 #f7b5b5 inset, -1px 0 0 0 #e83232 inset, 0 -1px 0 0 #e51a1a inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #e83232 inset, 0 1px 0 0 #f7b5b5 inset, -1px 0 0 0 #e83232 inset, 0 -1px 0 0 #e51a1a inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.30);
    }
               
    .style-10.button.red:hover {
        background        : #ed5c5c;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkNWM1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlODM0MzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #ed5c5c 0%, #e83434 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed5c5c), color-stop(100%,#e83434));
        background        : -webkit-linear-gradient(top,  #ed5c5c 0%,#e83434 100%);
        background        : -o-linear-gradient(top,  #ed5c5c 0%,#e83434 100%);
        background        : -ms-linear-gradient(top,  #ed5c5c 0%,#e83434 100%);
        background        : linear-gradient(top,  #ed5c5c 0%,#e83434 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed5c5c', endColorstr='#e83434',GradientType=0 );
        box-shadow        : 1px 0 0 0 #ed5f5f inset, 0 1px 0 0 #f9c4c4 inset, -1px 0 0 0 #ed5f5f inset, 0 -1px 0 0 #ea4848 inset, 0 0 0 1px rgba(0,0,0,0.3);
        -moz-box-shadow   : 1px 0 0 0 #ed5f5f inset, 0 1px 0 0 #f9c4c4 inset, -1px 0 0 0 #ed5f5f inset, 0 -1px 0 0 #ea4848 inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #ed5f5f inset, 0 1px 0 0 #f9c4c4 inset, -1px 0 0 0 #ed5f5f inset, 0 -1px 0 0 #ea4848 inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.30);
    }
    
    .style-10.button.red:active, .style-10.button.red.active {
        background        : #e20000; 
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e20000', endColorstr='#e20000',GradientType=0 );
        box-shadow        : 1px 0 0 0 #e51919 inset, 0 1px 0 0 #f5a3a3 inset, -1px 0 0 0 #e51919 inset, 0 -1px 0 0 #e51919 inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #e51919 inset, 0 1px 0 0 #f5a3a3 inset, -1px 0 0 0 #e51919 inset, 0 -1px 0 0 #e51919 inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #e51919 inset, 0 1px 0 0 #f5a3a3 inset, -1px 0 0 0 #e51919 inset, 0 -1px 0 0 #e51919 inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.30);
    } 
    
    
    /* style-10 light-gray */
    .style-10.button.light-gray {
        background        : #d8d8d9;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZWNlZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #d8d8d9 0%, #ceced0 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d9), color-stop(100%,#ceced0));
        background        : -webkit-linear-gradient(top,  #d8d8d9 0%,#ceced0 100%);
        background        : -o-linear-gradient(top,  #d8d8d9 0%,#ceced0 100%);
        background        : -ms-linear-gradient(top,  #d8d8d9 0%,#ceced0 100%);
        background        : linear-gradient(top,  #d8d8d9 0%,#ceced0 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d9', endColorstr='#ceced0',GradientType=0 );
        box-shadow        : 1px 0 0 0 #d8d8da inset, 0 1px 0 0 #f1f1f1 inset, -1px 0 0 0 #d8d8da inset, 0 -1px 0 0 #d3d3d5 inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #d8d8da inset, 0 1px 0 0 #f1f1f1 inset, -1px 0 0 0 #d8d8da inset, 0 -1px 0 0 #d3d3d5 inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #d8d8da inset, 0 1px 0 0 #f1f1f1 inset, -1px 0 0 0 #d8d8da inset, 0 -1px 0 0 #d3d3d5 inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #595A5B;
        text-shadow       : 0 1px 0 rgba(255, 255, 255, 0.80);
    }
    
    .style-10.button.light-gray:hover {
        background        : #e0e0e1;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOGQ4ZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #e0e0e1 0%, #d8d8d9 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e1), color-stop(100%,#d8d8d9));
        background        : -webkit-linear-gradient(top,  #e0e0e1 0%,#d8d8d9 100%);
        background        : -o-linear-gradient(top,  #e0e0e1 0%,#d8d8d9 100%);
        background        : -ms-linear-gradient(top,  #e0e0e1 0%,#d8d8d9 100%);
        background        : linear-gradient(top,  #e0e0e1 0%,#d8d8d9 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e1', endColorstr='#d8d8d9',GradientType=0 );
        box-shadow        : 1px 0 0 0 #e0e0e1 inset, 0 1px 0 0 #f4f4f4 inset, -1px 0 0 0 #e0e0e1 inset, 0 -1px 0 0 #dcdcdd inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #e0e0e1 inset, 0 1px 0 0 #f4f4f4 inset, -1px 0 0 0 #e0e0e1 inset, 0 -1px 0 0 #dcdcdd inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #e0e0e1 inset, 0 1px 0 0 #f4f4f4 inset, -1px 0 0 0 #e0e0e1 inset, 0 -1px 0 0 #dcdcdd inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #595A5B;
        text-shadow       : 0 1px 0 rgba(255, 255, 255, 0.80););
    }
    
    .style-10.button.light-gray:active, .style-10.button.light-gray.active {
        background        : #ceced0;
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceced0', endColorstr='#ceced0',GradientType=0 );
        box-shadow        : 1px 0 0 0 #d3d3d5 inset, 0 1px 0 0 #ededee inset, -1px 0 0 0 #d3d3d5 inset, 0 -1px 0 0 #d3d3d5 inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #d3d3d5 inset, 0 1px 0 0 #ededee inset, -1px 0 0 0 #d3d3d5 inset, 0 -1px 0 0 #d3d3d5 inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #d3d3d5 inset, 0 1px 0 0 #ededee inset, -1px 0 0 0 #d3d3d5 inset, 0 -1px 0 0 #d3d3d5 inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #595a5b;
        text-shadow       : 0 1px 0 rgba(255, 255, 255, 0.80);
    } 
    

    /* style-10 dark-gray */
    .style-10.button.dark-gray {
        background        : #5c5c5c;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjNWM1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDM0MzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #5c5c5c 0%, #343434 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c5c5c), color-stop(100%,#343434));
        background        : -webkit-linear-gradient(top,  #5c5c5c 0%,#343434 100%);
        background        : -o-linear-gradient(top,  #5c5c5c 0%,#343434 100%);
        background        : -ms-linear-gradient(top,  #5c5c5c 0%,#343434 100%);
        background        : linear-gradient(top,  #5c5c5c 0%,#343434 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#343434',GradientType=0 );
        box-shadow        : 1px 0 0 0 #5b5b5b inset, 0 1px 0 0 #c4c4c4 inset, -1px 0 0 0 #5b5b5b inset, 0 -1px 0 0 #484848 inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #5b5b5b inset, 0 1px 0 0 #c4c4c4 inset, -1px 0 0 0 #5b5b5b inset, 0 -1px 0 0 #484848 inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #5b5b5b inset, 0 1px 0 0 #c4c4c4 inset, -1px 0 0 0 #5b5b5b inset, 0 -1px 0 0 #484848 inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.40);
    }
               
    .style-10.button.dark-gray:hover {
        background        : #7d7d7d;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2Q3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZDVkNWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #7d7d7d 0%, #5d5d5d 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7d7d), color-stop(100%,#5d5d5d));
        background        : -webkit-linear-gradient(top,  #7d7d7d 0%,#5d5d5d 100%);
        background        : -o-linear-gradient(top,  #7d7d7d 0%,#5d5d5d 100%);
        background        : -ms-linear-gradient(top,  #7d7d7d 0%,#5d5d5d 100%);
        background        : linear-gradient(top,  #7d7d7d 0%,#5d5d5d 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7d7d', endColorstr='#5d5d5d',GradientType=0 );
        box-shadow        : 1px 0 0 0 #7c7c7c inset, 0 1px 0 0 #d0d0d0 inset, -1px 0 0 0 #7c7c7c inset, 0 -1px 0 0 #6d6d6d inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #7c7c7c inset, 0 1px 0 0 #d0d0d0 inset, -1px 0 0 0 #7c7c7c inset, 0 -1px 0 0 #6d6d6d inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #7c7c7c inset, 0 1px 0 0 #d0d0d0 inset, -1px 0 0 0 #7c7c7c inset, 0 -1px 0 0 #6d6d6d inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.40);
    }
    
    .style-10.button.dark-gray:active, .style-10.button.dark-gray.active {
        background        : #333;
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
        box-shadow        : 1px 0 0 0 #474747 inset, 0 1px 0 0 #b5b5b5 inset, -1px 0 0 0 #474747 inset, 0 -1px 0 0 #474747 inset, 0 0 0 1px rgba(0,0,0,0.3);  
        -moz-box-shadow   : 1px 0 0 0 #474747 inset, 0 1px 0 0 #b5b5b5 inset, -1px 0 0 0 #474747 inset, 0 -1px 0 0 #474747 inset, 0 0 0 1px rgba(0,0,0,0.3);
	    -webkit-box-shadow: 1px 0 0 0 #474747 inset, 0 1px 0 0 #b5b5b5 inset, -1px 0 0 0 #474747 inset, 0 -1px 0 0 #474747 inset, 0 0 0 1px rgba(0,0,0,0.3);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.40);
    } 
    
    .style-10.button.transparent-black, .style-10.button.transparent-black:hover, 
    .style-10.button.transparent-black:active,.style-10.button.transparent-black.active,
    .style-10.button.transparent-white, .style-10.button.transparent-white:hover, 
    .style-10.button.transparent-white:active,.style-10.button.transparent-white.active{
        -moz-background-clip   : border;  
    	-webkit-background-clip: border;
    	background-clip        : border-box; 
    }   
     
    .style-10.button.transparent-black { 
        background : rgba(0, 0, 0, 0.4);
        border     : 1px solid rgba(0,0,0,0.1); 
        color: #fff;
    }
    
    .style-10.button.transparent-black:hover {
        background : rgba(0, 0, 0, 0.5);
        border     : 1px solid rgba(0,0,0,0.2); 
        color: #fff;
    } 
    
    .style-10.button.transparent-black:active,
    .style-10.button.transparent-black.active {
        background : rgba(0, 0, 0, 0.3);
        border     : 1px solid rgba(0,0,0,0.1); 
        color: #fff;
    } 
    
    .style-10.button.transparent-white {
        background : rgba(255, 255, 255, 0.4);
        border     : 1px solid rgba(255,255,255,0.4); 
        color: #606060;
    }
    
    .style-10.button.transparent-white:hover {
        background : rgba(255, 255, 255, 0.5);
        border     : 1px solid rgba(255,255,255,0.5); 
        color: #606060;
    } 
    
    .style-10.button.transparent-white:active,
    .style-10.button.transparent-white.active {
        background : rgba(255, 255, 255, 0.3);
        border     : 1px solid rgba(255,255,255,0.3); 
        color: #606060;  
    }         