/*
    Jumpeye framework    
	Version: 1.0.0
	www.jumpeye.com
	
	Created by Jumpeye Components
 
 
    Alert style-2
*/

    .alert.style-2.message {
        background: #cecfd1;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlY2ZkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZWJmYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #cecfd1 0%, #bebfc1 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecfd1), color-stop(100%,#bebfc1));
        background: -webkit-linear-gradient(top,  #cecfd1 0%,#bebfc1 100%);
        background: -o-linear-gradient(top,  #cecfd1 0%,#bebfc1 100%);
        background: -ms-linear-gradient(top,  #cecfd1 0%,#bebfc1 100%);
        background: linear-gradient(to bottom,  #cecfd1 0%,#bebfc1 100%);
        filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecfd1', endColorstr='#bebfc1',GradientType=0 );
    }

    .alert.style-2.success {
        background: #6aab1f;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZhYWIxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZThkMTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #6aab1f 0%, #4e8d17 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6aab1f), color-stop(100%,#4e8d17));
        background: -webkit-linear-gradient(top,  #6aab1f 0%,#4e8d17 100%);
        background: -o-linear-gradient(top,  #6aab1f 0%,#4e8d17 100%);
        background: -ms-linear-gradient(top,  #6aab1f 0%,#4e8d17 100%);
        background: linear-gradient(to bottom,  #6aab1f 0%,#4e8d17 100%);
        filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#6aab1f', endColorstr='#4e8d17',GradientType=0 );
    }

    .alert.style-2.error {
        background: #d71f21;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q3MWYyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOTE3MTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #d71f21 0%, #c91719 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d71f21), color-stop(100%,#c91719));
        background: -webkit-linear-gradient(top,  #d71f21 0%,#c91719 100%);
        background: -o-linear-gradient(top,  #d71f21 0%,#c91719 100%);
        background: -ms-linear-gradient(top,  #d71f21 0%,#c91719 100%);
        background: linear-gradient(to bottom,  #d71f21 0%,#c91719 100%);
        filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#d71f21', endColorstr='#c91719',GradientType=0 );
    }

    .alert.style-2.info {
        background: #549ad0;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0OWFkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZTc2YzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #549ad0 0%, #3e76c0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#549ad0), color-stop(100%,#3e76c0));
        background: -webkit-linear-gradient(top,  #549ad0 0%,#3e76c0 100%);
        background: -o-linear-gradient(top,  #549ad0 0%,#3e76c0 100%);
        background: -ms-linear-gradient(top,  #549ad0 0%,#3e76c0 100%);
        background: linear-gradient(to bottom,  #549ad0 0%,#3e76c0 100%);
        filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#549ad0', endColorstr='#3e76c0',GradientType=0 );
    }    

    .alert.style-2.warning {
        background: #f2f3c5;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjNjNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVmYjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #f2f3c5 0%, #eeefb1 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f3c5), color-stop(100%,#eeefb1));
        background: -webkit-linear-gradient(top,  #f2f3c5 0%,#eeefb1 100%);
        background: -o-linear-gradient(top,  #f2f3c5 0%,#eeefb1 100%);
        background: -ms-linear-gradient(top,  #f2f3c5 0%,#eeefb1 100%);
        background: linear-gradient(to bottom,  #f2f3c5 0%,#eeefb1 100%);
        filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3c5', endColorstr='#eeefb1',GradientType=0 );
    }
    
    .alert.style-2.question {
        background: #a980d1;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5ODBkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YjVlYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #a980d1 0%, #8b5ec1 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a980d1), color-stop(100%,#8b5ec1));
        background: -webkit-linear-gradient(top,  #a980d1 0%,#8b5ec1 100%);
        background: -o-linear-gradient(top,  #a980d1 0%,#8b5ec1 100%);
        background: -ms-linear-gradient(top,  #a980d1 0%,#8b5ec1 100%);
        background: linear-gradient(to bottom,  #a980d1 0%,#8b5ec1 100%);
        filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#a980d1', endColorstr='#8b5ec1',GradientType=0 );
    }